@import	url("https://fonts.googleapis.com/css2?family=Nosifer&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rakkas&display=swap");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: "Playfair Display", serif;
	font size: : 18px;
	margin: 0px;
	background-color: #E0DFD5;
}
h1 {
	font-family: "Nosifer", sans-serif;
 	font-weight: bold;
 	font-size: 48px;
}
h2, h3 {
	font-family: "Rakkas", serif;
 	font-weight: bold;
}
a {
	text-decoration: none;
}
.EMINEM {
	text-align: center;
}

